*{
  margin:0;
  padding:0;
}




html{
  scroll-behavior: smooth;
  height:100%;
}

body{
  
  width:100%;
  height:100%;
  background-color:rgb(36, 36, 36);
  color:white;
  font-family: 'Titillium Web', sans-serif;
  
  font-size:40px;
  
}

.title{
  text-align: center;
}

/* Hero card */
.title-card p, .title-card h1{
  margin:0;
 
}

.intro-text{
  font-weight: 700;
  font-size:clamp(50px, 5.5vw, 55px);
}

.char-txt{
  font-weight:200;
  font-size:clamp(30px, 3.5vw, 35px);
}

.title-card{
  height:97vh;
}

.title-card > div{
  width:100%;
  height:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scroll__button{
  height:100%;
  max-height:30%;
  
}


.scroll__button > a{
  cursor:default;
}

.scroll__button > a > button{
  width:80px;
  height:50px;
  font-size:40px;
  text-align: center;
  color:white;
  background-color:rgb(255, 66, 66);
  border:none;
  cursor:pointer;
}
.scroll__button > a > button:hover{
  box-shadow:5px 5px rgba(0, 0, 0, 0.466);
}

.text__block{
  display:flex;
  flex-direction: column;
  padding-top:10%;
}

/* End of hero CSS */

/* ************** */

/* Navbar */
.top-nav{
  width:100%;
  height: 100%;
  height: 55px;
  margin-top:3vh;
  background-color: rgb(26, 26, 26);
  opacity:0.97;
  
}

.nav-text a{
  text-decoration: none;
  color:white;
  padding:20px;
  font-size:20px;
}

.nav-container{
  position:sticky;
  top:0px;
  box-shadow:0 4px rgb(20, 20, 20);
  z-index: 99;
}

.nav-text{
  text-align:end;
  font-size:30px;
  line-height: 50px;
}

.nav-text a:hover{
  opacity:0.8;
  color:rgb(255, 66, 66);
}
/* End of navbar CSS */

/* ************** */

/* Summary Paragraph */

.float-container{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  
}

.float-child{
  flex:1;
}

.float-child:first-child{
  margin-right:20px;
}

.about-par{
  padding-top:20px;
  width:100%;
  max-width:700px;
}
.about-par>p{
  padding:20px 15px;
  margin:0;
}

#about::before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
  pointer-events: none;
}

#about{
  height:auto;
  margin-top:15vh;
  z-index: 0;
  
}

.sum-text{
  font-weight:200;
  font-size:25px;
  padding-left:80px;
  margin-top:30px;
  
  
}

/* End of summary paragraph */

/* ************** */

/* Skills Images */
.gallery{
  display:flex;
  justify-content:center;
  max-width:700px;
}

#col img{

  width: 60px;
  height:50px;
  object-fit: scale-down;
  padding-top: 20px;
  position:absolute;
  z-index: 0;
  transition: 0.4s all ease-in-out;
}
 
.col_1, .col_3{
 margin-top:50px;
}
.col_1{
  margin-right:20px;
}
.col_3{
  margin-left:20px;
}

#col div{
  display:flex;
  justify-content: center;
  vertical-align: middle;
  margin-top:20px;
  border-radius: 20px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.288), rgba(0, 0, 0, 0.425));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width:145px;
  height:100px;
}

#col p{
  font-size:16px;
  font-weight:200;
  z-index: 1;
  margin-top:75px;
  visibility: hidden; 
}

#col div:hover p{
  visibility:visible;
}
#col div:hover{
  background-color:rgba(255, 54, 54, 0.295);
}
#col div:hover img{
  transform: scale(1.2);
}

#col p:hover{
  cursor:default;
}

/* End of images */


/* ************** */

/* Project images */
#projects::before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
  pointer-events: none;
}

#proj-img img:hover{
  transform: scale(0.9);
}

#proj-img img:hover .img__container{
  opacity: 0.1;
  background-color: black;
  
}

#proj-img img{
  width:800px;
  height:400px;
  border:50px solid rgba(255, 67, 67, 0.308);
  transition: 0.4s all ease-in-out;
}


#proj-img{
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30vh;
  margin-top:10vh;
  
}

#proj-img>div{
  display:flex;
  column-gap: 200px;
  align-items: center;
}

#proj-img h1{
  text-align: center;
}

.button__container{
  display:flex;
  justify-content: center;
  column-gap: 30px;
}



.proj__button{
  border:none;
  height:38px;
  width:80px;
  background-color: rgba(0, 0, 0, 0.295);
  color:rgba(255, 255, 255, 0.555);
}

.proj__button:hover{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.295) 50%, rgb(255, 66, 66) 50%) right;
  background-size: 200%;
  color:rgb(255, 255, 255);
  transition: .5s ease-out;
  cursor:pointer;
}

#proj-img p{
  font-size: 20px;
  width:700px;
  height:auto;
  text-align: center;
}

#proj-img h1{
  font-size:40px;
  font-weight: bold;
}


#projects{
  margin-top:15vh;
}

.description__block{
  display:flex;
  flex-direction: column;
}




/* End of images */


/* Contact me */

#contact{
  margin-top:15vh;
}

.form__container{
  width:500px;
  margin:auto;
}

.myform{
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  
}

.text__box{
  width:100%;
  height:37px;
  background-color: rgba(0, 0, 0, 0.295);
  color:white;
  border:none;
  font-size:15px;
  padding-left:10px;
}

.text__box__large{
  height:100px;
}

textarea{
  resize:none;
}

.text__submit{
  margin-left:calc(100% - 69px);
  border:none;
  height:30px;
  width:80px;
  background-color: rgba(0, 0, 0, 0.295);
  color:rgba(255, 255, 255, 0.555);
}

.text__submit:hover{
  background: linear-gradient(to left,rgb(255, 66, 66) 50%, rgba(0, 0, 0, 0.295) 50%) right;
  background-size: 200%;
  color:rgb(255, 255, 255);
  transition: .5s ease-out;
  cursor:pointer;
}

textarea,
input[type=text] {
  font-family: 'Titillium Web', sans-serif;
  
}

/* End of Contact */

/* Footer */
.footer__container{
  margin-top:10vh; 
}

.footer__background{
  background-color: rgba(0, 0, 0, 0.486); 
}

.social__links{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width:100%;
  height:18vh;
}

.footer__button{
  display: flex;
  justify-content: center;
  transform: translateY(3.5vh);
}

.footer__button > a > button{
  width:80px;
  height:50px;
  font-size:40px;
  text-align: center;
  color:white;
  background-color:rgb(255, 66, 66);
  border:none;
  cursor:pointer;
}
.footer__button > a > button:hover{
  box-shadow:5px 5px rgba(0, 0, 0, 0.61);
}



.social__links > a{ 
  
  text-decoration: none;
  height:62px;
  width:62px;
  background-color:rgba(0, 0, 0, 0.288);
  cursor: pointer;
  align-items: center;
  align-content: center;
  border-radius:40px;
  
}

.social__links>a:hover{
  transition: .7s ease-in;
  background-color: rgb(255, 66, 66);
  
  opacity:0.5;
}

.social__links>a>img{
  height:100%;
  width:100%;
  
}
.img18{
  transform: scale(0.7);
}

.footer__name{
  display: inline-block;
  font-size:15px;
  transform: translateY(32vh);
  position: absolute;
  left: 47vw;
  
}

.copyright{
  height:100%;
  margin-bottom:-20px;
  transform: translateY(-2vh);
}

.footer__container p {
  font-size:14px;
  text-align: center; 
}

/* End of Footer */



/* ************************************************************************ */
.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;     
  display: inline-block; 
  
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(12.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

.scroll__button > a:hover{
  animation-name: bounce-animation;  
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;  
}

.footer__button > a:hover{
  
  animation-name: reverse-bounce-animation;  
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;  
}



@keyframes bounce-animation {
  0%, 100%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0);
	}
	40% {
		-webkit-transform: translateY(-9px);
		-ms-transform:     translateY(-9px);
		transform:         translateY(-9px);
	}
	60% {
		-webkit-transform: translateY(-3px);
		-ms-transform:     translateY(-3px);
		transform:         translateY(-3px);
	}
}

@keyframes reverse-bounce-animation {
  0%, 100%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0);
	}
	40% {
		-webkit-transform: translateY(9px);
		-ms-transform:     translateY(9px);
		transform:         translateY(9px);
	}
	60% {
		-webkit-transform: translateY(3px);
		-ms-transform:     translateY(3px);
		transform:         translateY(3px);
	}
}



@media only screen and (max-width:700px){
  #about{
    margin-top:7vh;
  }
  #projects{
    margin-top:7vh;
  }
  #contact{
    margin-top: 7vh;
  }
}

/* Media for navbar */

@media only screen and (max-width:880px){
  .nav-text a{
    font-size:15px;
  }
  .nav-text{
    text-align:center;
    line-height: 35px;
    transition: text-align .4s linear, line-height .4s linear;
  }
  .top-nav{
    height:45px;
  }
}

@media only screen and (max-width:488px){
  a{
    padding:16px;
  }

}

@media only screen and (max-width:355px){
  .nav-text a{
    font-size:12px;
  }
}


/* END */

/* Media for About structure */
@media only screen and (max-width:1220px){
  .float-container{
    flex-direction: column;
    align-items: center;
    width:100%;
    
  } 
  .about-par{
    max-width:none;
    padding-left:20px;
  }
  .sum-text{
    text-align: center;
    
    font-size:30px;
  }
}
@media only screen and (max-width:1000px){
  
  .sum-text{ 
    font-size:18px;   
  }
  .float-container{
    margin-top:-30px;
  }
}
@media only screen and (max-width:800px){

  
}
@media only screen and (max-width:700px){
 
  .sum-text{
    font-size:20px;
    
  }
  #col div{
    width:125px;
    height:85px;
    
    transition: width 0.5s linear, height 0.5s linear;
  }
  #col img{
    width: 45px;
    height:35px;
    
    transition: width 0.5s linear, height 0.5s linear;
  }

  #col p{
    
    font-size:14px;
    margin-top:63px;
    
  }
  .gallery{
    padding-right:15px;
  }
}

@media only screen and (max-width:640px){
  
  .sum-text{
    font-size: 14px;
    
    text-align: center;
  }
}
@media only screen and (max-width:470px){
  .gallery{
    margin-left:17px;
  }
}

@media only screen and (max-width:430px){
  .sum-text{
    
    font-size: 15px;
    
    text-align: center;
  }
  #col div{
    width:115px;
    height:75px;
    
  }
  #col img{
    width: 40px;
    height:30px;
    
    
  }

  #col p{
    font-size:12px;
    margin-top:56px;
  }
}

@media only screen and (max-width:400px){
  
  #col div{
    width:90px;
    height:65px;
    
  }
  #col img{
    width: 30px;
    height:20px;
    
    
  }

  #col p{
    font-size:12px;
    margin-top:45px;
  }

  .col_1, .col_3{
    margin-top:40px;
   }
}


/* END */


/* Media for project images */
@media only screen and (max-width:1768px){
  #proj-img img{
    margin-top:7vh;
    width:800px;
    height:auto;
    transition:width .5s linear, margin-top .5s linear;
    transition: 0.4s all ease-in-out;
  }
  #proj-img p{
    text-align: center;
  }

  .right{
    flex-direction: column;
  }
  .left{
    flex-direction: column-reverse;
  }
  
}

@media only screen and (max-width:950px){
  #proj-img img{
    width:700px;
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }
}

@media only screen and (max-width:820px){
  #proj-img img{
    width:600px;
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }
}

@media only screen and (max-width:650px){
  
  

  .description__block{
    max-width:500px;
    transition:width .5s linear;
  }
}


@media only screen and (max-width:730px){
  #proj-img img{
    width:500px;
    border-width:30px;
    
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }

  #proj-img h1{
    font-size: 34px;
  }
  #proj-img p{
    font-size:16px;
    width:100%;
    transition:font-size .5s linear, width .5s linear;
  }

  .description__block{
    max-width:450px;
    
  }
  
}
@media only screen and (max-width:730px){
  #proj-img img{
    width:400px;
    border-width:20px;
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }

  .project__description{
    margin-top:0;
  }
  
}

@media only screen and (max-width:470px){
  #proj-img h1{
    font-size: 34px;
  }
  .description__block{
    max-width:90vw;
    
  }
  #proj-img img{
    width:350px;
    border-width:15px;
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }
  
}

@media only screen and (max-width:400px){
  #proj-img img{
    width:300px;
    border-width:10px;
    transition:width .5s linear;
    transition: 0.4s all ease-in-out;
  }


}





/* END */


/* Media for contact section */
@media only screen and (max-width:500px){
  .form__container{
    width:430px;
  }
}

@media only screen and (max-width:430px){
  .form__container{
    width:380px;
  }
}
@media only screen and (max-width:390px){
  .form__container{
    width:360px;
  }
}
@media only screen and (max-width:370px){
  .form__container{
    width:330px;
  }
}
/* END */

@media only screen and (max-width:488px){
  
  .social__links>a>img{
    transform: translateY(-2px);
  }

  .social__links>a{
    font-size:20px;
    max-height:32px;
    max-width:32px;
  }
  .footer__button{
    transform: translateY(40px);
  }

  
}

